---
title: 'Home Page'
---
{{#extend "page"}}
{{#content "content"}}
<h2>Welcome to my static site</h2>

<blockquote>-Dustin Smith</blockquote>
{{/content}}

{{#content "scripts"}}
<script>
$("blockquote").css("color", "#bada55");
</script>
{{/content}}
{{/extend}}